section{padding:2vmin 0}
.alizarin{background:#A1E8CC}
.amethyst{background:#9b59b6}
.emerald{background:#F27F7D}
.midnight-blue{background:#FBDE74}
.peter-river{background:#FBDE74}
.dl{background:#f0f0f0;padding:30px 0;border-radius:20px;position:relative; max-width: 300px;}
.dl:before{content:" ";height:20px;width:20px;background:#ddd;border-radius:20px;position:absolute;left:50%;top:20px;margin-left:-10px}
.dl .brand{text-transform:uppercase;letter-spacing:3px;padding:10px 15px;text-align:center;}
.dl .discount{min-height:220px;position:relative;font-size:80px;text-align:center;font-weight:700;padding:20px 15px 0;color:#495159}
.dl .discount:after{content:" ";border-right:20px solid transparent;border-left:20px solid transparent;position:absolute;bottom:-20px;left:20%}
.dl .discount.alizarin:after{border-top:20px solid #A1E8CC}
.dl .discount.peter-river:after{border-top:20px solid #FBDE74}
.dl .discount.emerald:after{border-top:20px solid #F27F7D}
.dl .discount.amethyst:after{border-top:20px solid #9b59b6}
.dl .discount .type{font-size:20px;letter-spacing:1px;text-transform:uppercase;margin-top:-30px}
.dl .descr{color:#999;margin-top:10px;padding:20px 15px;}
.dl .descr2{color:#999;margin-top:10px;padding:20px 15px; min-height: 140px;}
.dl .ends{padding:0 15px;color:#f1c40f;margin-bottom:10px}
.dl .coupon {height:50px;text-align:center;text-transform:uppercase;font-weight:700;font-size:18px;padding:5px}
.dl .coupon .open-code{color:#16a085; background: none; border: hidden; text-transform:uppercase;font-weight:700;font-size:18px;}
.dl .coupon .code{letter-spacing:1px;border-radius:4px;margin-top:10px;padding:10px 15px;color:#f1c40f;background:#f0f0f0}
.select {text-transform:uppercase;letter-spacing:3px;padding:10px 15px;text-align:center;font-size: x-large;}


