:root {
  --white: #FFFFFF;
  --grey-1: #E0E0E0;
  --grey-2: #D6D6D6;
  --grey-3: #CCCCCC;
  --grey-4: #C2C2C2;
  --charcoal: #495159;
  --yellow: #FBDE74;
  --coral: #F27F7D;
  --mint: #A1E8CC;
  --text-light: #EDE8EC;
  --text-dark: #495159;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--grey-4);
  padding: 1vmin;
  height: 100%;
}

code {
  font-family: 'Montserrat Alternates', sans-serif;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--grey-1);
  color: var(--text-dark);
  border: .1vmin solid var(--grey-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--mint);
  border: .1vmin solid var(--grey-3);
  border-radius: 1vmin;
  max-width: 400px;
}
.login-form{
  display: flex;
  justify-content: center;
}

.login-switch-button {
  margin: 10px;
}

p.error-message {
  color: var(--yellow);
  text-align: center;
}

.login-form-form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
  color: var(--charcoal)
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--grey-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--mint);
}

.btn-sub {
  color: var(--yellow);
  background-color: var(--yellow);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--coral);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--grey-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--grey-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}