:root {
  --white: #FFFFFF;
  --grey-1: #E0E0E0;
  --grey-2: #D6D6D6;
  --grey-3: #CCCCCC;
  --grey-4: #C2C2C2;
  --charcoal: #495159;
  --yellow: #FBDE74;
  --coral: #F27F7D;
  --mint: #A1E8CC;
  --text-light: #EDE8EC;
  --text-dark: #495159;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--grey-4);
  height: 100vh;
  overflow-y: scroll;
}

code {
  font-family: 'Montserrat Alternates', sans-serif;
}

#root {
  height: 100%;
}
